@use "sass:color";
@use "../variables" as *;
@use "../theme_variables_matugen" as *;

// Hyprland workspace
@mixin hypr-workspace-style($bg-color, $hover-color) {
  background: $bg-color;
  box-shadow: inset -2px -2px 2px color.scale($bg-color, $lightness: -25%);
  
  &:hover {
    background: $hover-color;
    box-shadow: inset -2px -2px 2px color.scale($hover-color, $lightness: -25%);
  }
}

// Hardware monitor circular progress base
@mixin hw-circular-progress {
  margin-right: 0.4rem;
  margin-left: 0.3rem;
  
  circularprogress {
    progress {
      color: $ramProc;
      min-width: 2.3rem;
    }
    radius {
      color: color.adjust($procBg, $alpha: -0.5);
    }
  }
  
  button label {
    font-family: "Material Symbols Outlined";
  }
}

// Complete hardware monitor box
@mixin hw-monitor-box($color, $label-margin: 1px 0px 0px 2px, $font-size: 1.2rem) {
  @include hw-circular-progress;
  
  circularprogress progress {
    color: $color;
  }
  
  button label {
    margin: $label-margin;
    font-size: $font-size;
  }
}
