 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #904830;
active-foreground: #F6D0C2;
normal-background: #26201F;
normal-foreground: #F6D0C2;
urgent-background: #DB734E;
urgent-foreground: #F6D0C2;

alternate-active-background: #8D4A35;
alternate-active-foreground: #F6D0C2;
alternate-normal-background: #26201F;
alternate-normal-foreground: #F6D0C2;
alternate-urgent-background: #26201F;
alternate-urgent-foreground: #F6D0C2;

selected-active-background: #DB734E;
selected-active-foreground: #F6D0C2;
selected-normal-background: #DB734E;
selected-normal-foreground: #F6D0C2;
selected-urgent-background: #904830;
selected-urgent-foreground: #F6D0C2;

background-color: #26201F;
background: rgba(0,0,0,0.7);
foreground: #F6D0C2;
border-color: #904830;

color0: #4C4645;
color1: #271412;
color2: #2F1815;
color3: #6A3728;
color4: #6C3624;
color5: #A4563B;
color6: #AD5B3D;
color7: #EAB4A0;
color8: #A47E70;
color9: #341A18;
color10: #3F201C;
color11: #8D4A35;
color12: #904830;
color13: #DB734E;
color14: #E67952;
color15: #EAB4A0;


}

