 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #576C70;
active-foreground: #EEDEDB;
normal-background: #101117;
normal-foreground: #EEDEDB;
urgent-background: #DC595B;
urgent-foreground: #EEDEDB;

alternate-active-background: #804D55;
alternate-active-foreground: #EEDEDB;
alternate-normal-background: #101117;
alternate-normal-foreground: #EEDEDB;
alternate-urgent-background: #101117;
alternate-urgent-foreground: #EEDEDB;

selected-active-background: #DC595B;
selected-active-foreground: #EEDEDB;
selected-normal-background: #DC595B;
selected-normal-foreground: #EEDEDB;
selected-urgent-background: #576C70;
selected-urgent-foreground: #EEDEDB;

background-color: #101117;
background: rgba(0,0,0,0.7);
foreground: #EEDEDB;
border-color: #576C70;

color0: #38393F;
color1: #060B1F;
color2: #111C2D;
color3: #603A40;
color4: #415154;
color5: #A54344;
color6: #9B7A71;
color7: #DFC8C3;
color8: #9C8C88;
color9: #080F2A;
color10: #17253D;
color11: #804D55;
color12: #576C70;
color13: #DC595B;
color14: #CFA297;
color15: #DFC8C3;


}

